body {
  background-image: url("宝ヶ池鴨.jpg");
  background-size: cover;
  background-repeat: none
}

.container {
  font-size: 55px;
  text-align: center;
  opacity: 0.７;
  color: #666666;
  letter-spacing: 0.3em;
}

a {
  text-decoration: none;
  color: #666666;
}
